.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .list {
    flex-direction: row;
  }
  .post {
    flex: 0 32%;
    margin-bottom: 2%;
  }
}
